.cc-window.cc-floating {
    top: 40%;

    height: 400px;
    height: fit-content;
    margin-top: -200px;
    left: 0;
    right: 0;
    max-width: 34em;
    margin-left: auto;
    margin-right: auto;
}

.cc-window .cc-message .cc-link {
    display: block;
    padding: .4em .8em;
    font-size: .9em;
    font-weight: 700;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    white-space: nowrap;
    border-color: rgb(131, 131, 145);
    background: rgb(131, 131, 145);
    color: white;
    text-decoration: none;
    margin-top: 1em;
}

.cc-window .cc-compliance .cc-deny {
    color: rgb(222, 91, 50);
    background-color: transparent;
    border-color: rgb(222, 91, 50);
}
.cc-window .cc-compliance .cc-btn.cc-deny:first-child {
    color: rgb(222, 91, 50);
}
